.Root {
  width: 100%;
  height: 100%;
}

.TopLeftMenu {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: -5px;
  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000a ), to( #000a ) );
  border-radius: 5px;
  opacity: 1.2;
  transition-duration: .05s;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
}

.TopLeftMenuButton {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  opacity: 0.7;
  wash-color: #CCDDFF;
  transition-property: opacity;
  transition-duration: 0.2s;
  tooltip-position: bottom;
}

#NewDashboardButton {
  background-image: url("s2r://panorama/images/control_icons/dota_logo_white_png.vtex");
  background-size: 100%;
  margin-top: 5px;
  margin-left: 20px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#NewSettingsButton {
  background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
  background-size: 25px;
  margin-top: 8px;
  margin-left: 67px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#NewScoreboardButton {
  background-image: url("s2r://panorama/images/control_icons/toc_psd.vtex");
  background-size: 28px;
  margin-top: 6px;
  margin-left: 110px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#LeaderboardButton {
  background-image: url("s2r://panorama/images/control_icons/stats_psd.vtex");
  background-size: 26px;
  margin-top: 7px;
  margin-left: 155px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#DiscordButton {
  background-image:url('file://{images}/custom_game/Discord.png');
  background-size: 95% 70%;
  margin-top: 10px;
  margin-left: 200px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;	

}

#NewDashboardButton:hover,
#NewSettingsButton:hover,
#NewScoreboardButton:hover,
#LeaderboardButton:hover,
#DiscordButton:hover
{
	wash-color: white;
	transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
}

.AvatarsPanel
{
  flow-children: down;
  horizontal-align: right;
  z-index: 3;
  margin-top: 80px;
  padding-bottom: 10px;
}

.PlayerPanel
{     
  width: 200px;
  height: 80px;
  opacity: 1;
  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000d ), to( #000d ) );
  transition-duration: .05s;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
  margin-bottom: 5px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  flow-children: right;
  margin-right: 0px;
}

.UserAvatar
{
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/user_avatar.png');
  horizontal-align: left;
  border-radius: 40px;
  border: 1px solid #2ad142;
}

.Username
{ 
  horizontal-align: left;
  margin-right: 25px;
  margin-bottom: 18px;
  margin-top: 5px;
}

Label {
  color: white;
  font-size: 19px;
  text-shadow: 2px 2px 2px black;
  text-overflow: clip;
  margin-left: 8px;
}

.UserInfoContainer
{
  flow-children: down;
  width: 100%;
  height: 100%;
}

.HealthContainer
{
  flow-children: right;
  margin-top: -13px;
}

.GoldContainer
{
  flow-children: right;
}

.HealthIcon
{     
  width: 16px;
  height: 18px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/HealthIcon.png');
  horizontal-align: left;
  margin: 0px 5px 2px 5px;
}

.HealthText
{ 
  horizontal-align: center;
  color: #87C080;
  text-shadow: 2px 2px 8px 3.0 black;
  font-weight: bold;
  font-size: 17px;
  margin-top: -1px;
  margin-left: -3px;
}

.GoldIcon
{     
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/GoldIcon.png');
  horizontal-align: left;
  margin: 0px 5px 2px 5px;
}

.GoldText
{ 
  horizontal-align: center;
  color: #F7CD60;
  text-shadow: 2px 2px 8px 3.0 black;
  font-weight: bold;
  font-size: 17px;
  margin-left: -3px;
  margin-top: -2px;
}

.InterestText
{ 
  color: lime;
  text-shadow: 2px 2px 5px 1.0 black;
  font-size: 17px;
  margin-left: 2px;
  margin-top: -1px;
}

.Invisible
{
  opacity: 0;
}

#ShopButton
{
  horizontal-align: left;
  vertical-align: center;
  width: fit-children;
  flow-children: right;
  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000d ), to( #000d ) );
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 200px;
}

#ShopButton:Hover
{
  brightness: 1.4;
}

#ShopLabel
{
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  horizontal-align: center;
  margin-top: 7px;
  margin-right: 20px;
}

#ShopIcon
{
	width: 48px;
	height: 48px;
	margin-left: 0px;
}

#ShopHolder
{
  width: 580px;
  height: 750px;
  horizontal-align: left;
  vertical-align: center;
  flow-children: down;
  margin-bottom: 0px;
}

.ShopHidden
{
  
  transform: translatex(-580px);
}

#ShopHeader
{
  font-size: 32px;
  horizontal-align: center;
}

#Items
{
  width: 100%;

  flow-children: right;
  horizontal-align: center;

  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000d ), to( #000d ) );
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-size: cover;

  transition-property: transform;
  transition-duration: 0.25s;
}

.ItemColumnLeft
{
  horizontal-align: left;
  width: 50%;
  height: 550px;
}

.ItemColumnRight
{
  horizontal-align: right;
  vertical-align: top;
  width: 50%;
  height: 550px;
}

.ItemRow
{
  flow-children: down;
  horizontal-align: center;
  padding: 10px;
}

.ItemRow2
{
  flow-children: down;
  horizontal-align: center;
  margin-top: 150px;
}

.ItemRow3
{
  flow-children: down;
  horizontal-align: center;
  margin-top: 300px;
}

.ItemRow4
{
  flow-children: down;
  horizontal-align: center;
  margin-top: 450px;
}

.ShopIcon
{
  margin-right: 5px; 
  margin-left: 5px;
}

.ShopIcon:Hover
{
  brightness: 1.4;
}

.CooldownOverlay
{
  height: 100%;
  background-color: #000000DD;
}

.Cooldown
{
  width: 100%;
  height: 100%;
  visibility: collapse;
}

.in_cooldown .Cooldown
{
  visibility: visible;
}

.GoldCost
{
  vertical-align: bottom;
  horizontal-align: left;

  color: #FFFF99;
  font-size: 18px;
  text-shadow: 0px 0px 3px 3.0 #000000;

  margin-left: 5px;

  /*background-image: url("s2r://panorama/images/hud/goldamount_bg_png.vtex");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
}

.LumberCost
{
  vertical-align: bottom;
  horizontal-align: right;

  margin-right: 5px;

  color: #22A543FF;
  font-size: 18px;
  text-shadow: 0px 0px 3px 3.0 #000000;
}

.Stock
{
  vertical-align: bottom;
  horizontal-align: right;

  margin-right: 5px;
  margin-bottom: -3px;

  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 3px 4.0 #000000;

  font-family: RadianceM;
}

#Arcane
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #a72fe9;
}

#Arcane2
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #a72fe9;
	horizontal-align: right;
}

#Arcane3
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #a72fe9;
}

#Earth
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #e9a72f;
}

#Fire
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #ff000a;
}

#Ice
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #2f71e9;
}

#Light
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #2fcee9;
}

#Lightning
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #5201cf;
}

#Unholy
{
	width: 52px;
	height: 52px;
	border-radius: 40px;
	border: 1px solid #065535;
}

#Water
{
	width: 52px;
	height: 52px;
	border-radius: 50px;
	border: 1px solid #2fcee9;
}
