.Root {
  width: 100%;
  height: 100%;
}

.TopLeftMenu {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  margin-left: -5px;
  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000b ), to( #000b ) );
  border-radius: 5px;
  opacity: 1.2;
  transition-duration: .05s;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
}

.TopLeftMenuButton {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  opacity: 0.7;
  wash-color: #CCDDFF;
  transition-property: opacity;
  transition-duration: 0.2s;
  tooltip-position: bottom;
}

#NewDashboardButton {
  background-image: url("s2r://panorama/images/control_icons/dota_logo_white_png.vtex");
  background-size: 100%;
  margin-top: 5px;
  margin-left: 20px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#NewSettingsButton {
  background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
  background-size: 25px;
  margin-top: 8px;
  margin-left: 67px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#NewScoreboardButton {
  background-image: url("s2r://panorama/images/control_icons/toc_psd.vtex");
  background-size: 28px;
  margin-top: 6px;
  margin-left: 110px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#LeaderboardButton {
  background-image: url("s2r://panorama/images/control_icons/stats_psd.vtex");
  background-size: 26px;
  margin-top: 7px;
  margin-left: 155px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;
}
#DiscordButton {
  background-image:url('file://{images}/custom_game/Discord.png');
  background-size: 95% 70%;
  margin-top: 10px;
  margin-left: 200px;
  transition-duration: 0.3s;
  transition-property: wash-color;
  transition-timing-function: ease-in-out;	

}

#NewDashboardButton:hover,
#NewSettingsButton:hover,
#NewScoreboardButton:hover,
#LeaderboardButton:hover,
#DiscordButton:hover
{
	wash-color: white;
	transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
}

.AvatarsPanel
{
  flow-children: down;
  horizontal-align: right;
  z-index: 3;
  margin-top: 80px;
  padding-bottom: 10px;
}

.PlayerPanel
{     
  width: 200px;
  height: 80px;
  opacity: 1;
  background-color: gradient( linear, 0% 0%, 0% 5%, from( #000d ), to( #000d ) );
  border-top: 1px solid #77849519;
  border-left: 1px solid #77849509;
  border-right: 1px solid #77849509;
  transition-duration: .05s;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
  margin-bottom: 10px;

  flow-children: right;
}

.UserAvatar
{
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/user_avatar.png');
  horizontal-align: left;

}

.Username
{ 
  horizontal-align: center;
  margin-right: 25px;
  margin-bottom: 10px;
}

Label {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  text-overflow: clip;
  text-shadow: 0px 0px 4px #CD6BAA;
}

.UserInfoContainer
{
  flow-children: down;
  width: 100%;
  height: 100%;
}

.HealthContainer
{
  flow-children: right;
}

.GoldContainer
{
  flow-children: right;
}

.HealthIcon
{     
  width: 18px;
  height: 20px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/HealthIcon.png');
  horizontal-align: left;
  margin: -1px 5px 2px 5px;
}

.HealthText
{ 
  horizontal-align: center;
  color: #87C080;
  text-shadow: 2px 2px 8px 3.0 black;
  font-weight: bold;
  font-size: 18px;
  margin-top: -1px;
  margin-left: -3px;
}

.GoldIcon
{     
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-image:url('file://{images}/custom_game/PlayerPanel/GoldIcon.png');
  horizontal-align: left;
  margin: 0px 5px 2px 5px;
}

.GoldText
{ 
  horizontal-align: center;
  color: #F7CD60;
  text-shadow: 2px 2px 8px 3.0 black;
  font-weight: bold;
  font-size: 18px;
  margin-left: -3px;
  margin-top: -2px;
}

.InterestText
{ 
  color: lime;
  text-shadow: 2px 2px 5px 1.0 black;
  font-size: 18px;
  margin-left: 2px;
  margin-top: -1px;
}

.Invisible
{
  opacity: 0;
}